*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    line-height: 1.4;
    color: #262527;
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
header{
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: url(../img/market.jpg);
    /* background-position: all; */
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.navbar {
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation .logo a{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
}
.navbar-nav a{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 1.2rem;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 9%;
}
.banner-title{
    font-size: 5rem;
    line-height: 1.2;
}
.banner-title span{
    color: #3c393d;
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.search-input{
    font-style: italic;
    font-size: 1.2rem;
    outline: none;
    padding: 0.6rem 0;
    border: none;
}
.search-btn {
    width: 30px;
    right: 0;
    font-size: .5rem;
    color: #3c393d;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.modal{
    display: none;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,.9)
}
.modal-relative{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-field{
    width: 400px;
	height: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
	justify-content: center;
	align-items: flex-end;
    background: #fff;
	border: 1px solid white;
}
.modal-field button{
    position: absolute;
    width: 30px;
    font-size: 20px;
    top: 10px;
    right: 10px;
}
.modal-contact h3{
    font-size: 35px;
    color: #3c393d;
}
.form form input, .form form label{
    font-size: 25px;
    margin: 10px;
}
.submit{
    background: #00ffff;
    color: #3c393d;
    transition: .5s ease;
}

.moda{
    display: none;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,.9)
}
.moda-relative{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.moda-field{
    width: 400px;
	height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
	justify-content: center;
	align-items: flex-end;
    background: #fff;
	border: 1px solid white;
}
.moda-field button{
    position: absolute;
    width: 30px;
    font-size: 20px;
    top: 10px;
    right: 10px;
}
.moda-contact h3{
    text-align: center;
    font-size: 35px;
    color: #3c393d;
}
.for form input, .for form label{
    align-items: center;
    font-size: 25px;
    margin: 10px;
    margin-left: 10px;
}
.for .submit{
    background: #00ffff;
    color: #3c393d;
    transition: .5s ease;
}
.submit:hover{
    background: #3c393d;
    color:aqua;
}
.red{
    color: crimson;
}

.section{
    background: rgba(0,0,0,.7);
	width: 100%;
    height: auto;
}
.shope {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	min-height: 560px;
	margin: 0 auto;
	padding: 60px 30px;
    background-color: rgba(0,0,0,.4);
    border-radius: 8px;
}
.produc {
	width: 23%;
	min-height: 200px;
	margin-right: 1%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 0 30px rgba(256,256,256, .4);
}
.produc .produc-card {
	display: block;
	width: 90%;
	height: 180px;
	margin: 0 auto;
	margin-top: 5%;
}
.produc .produc-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.anchor{
    display: block;
	width: 70%;
	height: 30px;
	margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #000;
    border-radius: 4px; */
	cursor: pointer;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: #111;
}
.services{
    width: 100%;
    height: auto;
    background: #3c393d;
}
.services-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-flex-child{
    width: 25%;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin: 30px 30px;
}
.services-cart{
    width: 200px;
    height: auto;
}
.services-paragraph h3{
    text-align: center;
}

.footer{
    width: 100%;
    height: 30%;
    background-color: #262527;
}
.footer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer .footer-flex .footer-flex-column{
    width:20%
}
.footer .footer-flex .footer-flex-column h4{
    font-size: 20px;
}
.footer .footer-flex .footer-flex-column h4, .footer .footer-flex .footer-flex-column ol li a{
    color: #fff;
}
.footer .footer-flex .footer-flex-column ol li{
    list-style: none;
}
.div{
    width: 100;
    height: auto;
}
hr{
    color: #f1f1f1;
}